
.bg-ripley {
    /*background-color: #5c2e7b!important;*/
    background-color: black!important;
}

.bg-body {
    background-color: black;
}

.ripley-img {
     padding: 10% 10% 10% 10%;
 }

.letter {
    color: white;
}

